body {
	width: 96%;
	background-color: #FFFFFF;
	background-image: linear-gradient(90deg, transparent 50%, rgba(101, 123, 182,.2) 50%);
	background-size: 50px 50px;
}

#searchBox {
	  background: rgba(37, 84, 105,.8);
	  width: 600px;
	  margin-left: auto;
	  margin-right: auto;
	  display: block;
	  margin-top: 20px;
	  margin-bottom: 10px;
	  border-radius: 20px;
	  padding-bottom: 20px;
	  padding-top: 1px;
}

#searchBox h1 {
	text-align: center;
	color: #FFFFFF;
}

input[ng-model=query] { 
	margin-bottom: 10px;
}

#order {
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	display: block;	
	color: #FFFFFF;
}


#wrap {
	width: 600px;
	/*margin-left: 80px;*/
	margin-left: auto;
	margin-right: auto;
	display: block;
}

ul {
	margin-left: -40px;
}

li {
	list-style: none;
  	background: rgba(37, 84, 105,.8);
	margin-bottom: 20px;
	display: inline-block;
	width: 600px;
	color: #FFFFFF;
  	border-radius: 20px;

}

.album {
	clear: both;
}

.album__info {
	width: 70%;
	float: left;
	padding-left: 20px;
	margin-top: 6px;
}

.album__info {
	line-height: 8px;
}

.album__img img {
	width: 20%;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}